<h2 class="page-header">Create Portfolio</h2>


<form method="post"  enctype="multipart/form-data" action="/portfolios/addWork">
   
   <div class="form-group">
    <label>Screenshot</label>
    <input type="file" id="addscreenshot" class="form-control" name="screenshot">
  </div>
  <br/>
  <br/>
  <div class="form-group">
    <label>URL</label>
    <input type="url" id="addurl" class="form-control" name="url">
  </div>
  <button type="submit" id="submitwork" class="btn btn-default">Add Work</button>

</form>
